<form action="https://formspree.io/f/xbjnwwen" method="POST"
>
<label>
  Name: <span class="required">*</span>
   <textarea name="name" placeholder="Your name" required="required"></textarea>
</label>
<label>
  Email address: <span class="required">*</span>
  <input type="email" name="email" placeholder="email@website.com" required="required" >
</label>
<label>
  Message: <span class="required">*</span>
  <textarea name="message" placeholder="Your message..." required="required"></textarea>
</label>
<!-- your other form fields go here -->
<button type="submit">Send message</button>
</form>
